.wrapper {
  background-color: burlywood;
  height: 100vh;
  width: 100vw;
}

.header {
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
}

.listholder {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.inputholder {
  position: absolute;
  bottom: 20vh;
  width: 100%;
}

.inputwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
